<div *ngIf="profile">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{profile.name}}
            <p>{{profile.login}}</p>
            {{profile.id}}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md3">
                    <img src="{{profile.avatar_url}}" alt="profile photo">
                </div>
                <div class="col-md-5">
                    <ul>
                        <li *ngIf="profile.email">
                            <a href="emailto:{{profile.email}}" target="_blank">{{profile.email}}</a>
                        </li>
                        <li *ngIf="profile.public_repos">{{profile.public_repos}}</li>
                        <li *ngIf="profile.followers">{{profile.followers}}</li>
                        <li *ngIf="profile.profile.following">{{profile.following}}</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <p><a href={{profile.html_url}}>View profile on github</a></p>
                    <div class="panel-body" *ngFor="let repo of repos">
                        <p class="clear-fix">
                            {{repo.name}}
                            <a href="repo.html_url" class="btn btn-sm btn-success pull-right" target="_blank">view the project on github</a>
                        </p>
                        <p>{{repo.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>